* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: end;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.date {
  font-size: 16px;
  color: #666;
}
.save {
  border-radius: 20px;
  border: none;
  background-color: blueviolet;
  color: #fff;

  padding: 10px;
  font-size: medium;
  cursor: pointer;
}

.box {
  border-radius: 10px;
  border: solid 1px;
  padding: 10px;
  margin-top: 20px;
}

.noteTitre {
  font-size: 24px;
}

.btnChoix button {
  border-radius: 10px;
  font-size: 20px;
  display: inline-flex;
  border: 1px solid;

  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.btnChoix button:hover {
  background-color: rgb(100, 167, 226);
  transition: 0.5s;
  transform: scale(1.1);
}

.btnChoix button.active {
  background-color: #4f46e5;
}

.ratio-mauvais {
  background-color: rgba(255, 39, 39, 0.421);
}

.description {
  border-radius: 10px;
  padding-left: 10px;
  width: 90%;
  height: 100px;
}

.boxActivite {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 30px;
}

.boxEchelle {
  margin: 20px;
  margin-top: 30px;
}

.boxComm {
  margin: 20px;
  margin-top: 30px;
}

.boxEnregistrement {
  margin: 20px;
  margin-top: 30px;
}

.compteurs {
  display: flex;
  gap: 16px;
  margin: 20px;
  margin-top: 30px;
}
